.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #ced4fd;
}

.messages {
    padding: 10px;
}

.userContainer {
    height: 80px;
}

.userImage {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.userName{
    text-align: center;
    display: inline-block;
}